{% extends "base.html" %}
{% block content %}

<div class="m-4">
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <label for="name">username</label>
        <input type="text"  name="username">
        <label for="password">password</label>
        <input type="password" name="password">
        <button type="submit">submit</button>
    </form>
    <p class="mt-3">
        Dont have an account? <a href="{% url 'sign_up' %}">Signuphere..</a>.
    </p>
</div>


{% endblock %}